@charset 'utf-8';

/*
    원칙1. CSS는 HTML 문서가 읽히는 순서대로 작성한다.
*/

/********
    reset
********/
*         { margin:0; padding:0; }
li        { list-style:none; }
a         { color:inherit; text-decoration:none; }
fieldset,
button    { border:0; background:none; margin:0; padding:0; }
body      { color:#333; font-family:'Noto Sans KR','sans-serif'; font-size:14px; }

/******
    공통
******/
.container        { margin:0 auto; width:1200px; }
.sr-only          { height:0px; left:-10000px; overflow:hidden; position:absolute; width:0px; }
#skip-nav         { border-bottom:1px solid #ffffff; color:#ffffff; background:#999999; background:rgba(0, 0, 0, 0.6); font-size:16px; left:0; line-height:40px; position:fixed; text-align:center; transition:top 0.3s; top:-40px; width:100%; z-index:10000; }
#skip-nav:focus   { top:0; }

body div.wrap { overflow:hidden; }

/******
    헤더
******/
header                 { background-color:#fef100; box-shadow:0 1px 10px 1px #666; position:relative; z-index:1; }
header div.header-wrap { height:208px; text-align:center; }

/* 로고 */
header div.header-wrap h1.logo   { height:98px; left:50%; position:absolute; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); top:16px; width:101px; z-index:1; }
header div.header-wrap h1.logo a { display:block; height:100%; width:100%; }

/* 상단 우측 링크 버튼 < 헤더 */
header div.header-wrap ul.nav-link                    { position:absolute; text-align:right; top:35px; }
header div.header-wrap ul.nav-link li                 { display:inline-block; margin-left:10px; }
header div.header-wrap ul.nav-link li.lang            { position:relative; }
header div.header-wrap ul.nav-link li.lang ul         { background-color:#fff; left:50%; margin-top:5px; overflow:hidden; position:absolute; transition:transform 0.3s; transform-origin:left top; transform:scaleY(0) translateX(-50%); -webkit-transform:scaleY(0) translateX(-50%); -moz-transform:scaleY(0) translateX(-50%); -ms-transform:scaleY(0) translateX(-50%); }
header div.header-wrap ul.nav-link li.lang ul.on      { transform:scaleY(1) translateX(-50%); -webkit-transform:scaleY(1) translateX(-50%); -moz-transform:scaleY(1) translateX(-50%); -ms-transform:scaleY(1) translateX(-50%); }
header div.header-wrap ul.nav-link li.lang ul    li   { display:block; margin-left:0; padding:5px 20px; }  
header div.header-wrap ul.nav-link li.lang ul    li a { display:block; font-weight:900; height:100%; width:100%; }

/**********
    사이트맵
**********/
header div.header-wrap nav.sitemap                                                                          { display:block; left:0; position:absolute; top:94px; width:100%; z-index:3; }
header div.header-wrap nav.sitemap    div.container                                                         { margin:0; width:100%; }
header div.header-wrap nav.sitemap    span.sitemap-btn                                                      { display:none; left:20px; position:absolute; top:-56px; }
header div.header-wrap nav.sitemap    span.sitemap-btn a                                                    { height:20px; line-height:20px; text-align:center; width:20px; }
header div.header-wrap nav.sitemap    span.sitemap-btn a:nth-child(1)                                       { display:block; }
header div.header-wrap nav.sitemap.on span.sitemap-btn a:nth-child(1)                                       { display:none; }
header div.header-wrap nav.sitemap    span.sitemap-btn a:nth-child(2)                                       { display:none; }
header div.header-wrap nav.sitemap.on span.sitemap-btn a:nth-child(2)                                       { display:block; }
header div.header-wrap nav.sitemap    span.sitemap-btn a img                                                { display:block; height:100%; width:100%; }
header div.header-wrap nav.sitemap    div.sitemap-wrap                                                      { color:#fff; display:none; }
header div.header-wrap nav.sitemap.on div.sitemap-wrap                                                      { display:block; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1                                   { text-align:left; width:100%; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              > a                  { box-sizing:border-box; border-bottom:1px solid #e76c71; background-color:#dc2c34; display:block; font-size:20px; height:60px; line-height:60px; padding:0 20px; position:relative; text-align:left; width:100%; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              > a i                { display:block; height:60px; line-height:60px; position:absolute; right:0; top:0; text-align:center; width:60px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2    { background-color:#9a1f24; height:0; opacity:0; overflow:hidden; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1.on           dl.sitemap-depth2    { height:auto; opacity:1; padding:20px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2 dt { padding:7px 14px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2 dd { padding:7px 14px; }

/******
    GNB
******/
/* GNB 백그라운드 */
header div.gnb-bg    { background:#fff; display:none; height:245px; position:absolute; top:208px; width:100%; }
header div.gnb-bg.on { display:block; }
header div.header-wrap nav.gnb                                                { position:relative; top:130px; }
header div.header-wrap nav.gnb ul.gnb-depth1                                  { position:relative; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li                             { float:left; width:16.666%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a             { color:#082841; display:block; font-size:18px; font-weight:400; height:77px; line-height:77px; position:relative; width:100%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:hover       { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:before      { content:'|'; font-size:14px; float:left; height:77px; line-height:77px; vertical-align:top; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li:first-child > a:before      { content:''; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:after       { bottom:-2px; background-color:#dc2c34; content:' '; height:5px; left:0; position:absolute; transition:width 0.3s; width:0; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:hover:after,
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:focus:after { width:100%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap                                       { box-sizing:border-box; display:none; height:245px; left:0; overflow:hidden; position:absolute; padding-top:34px; width:100%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li.on            div.gnb-depth1-wrap                                       { display:block; text-align:left; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap dl.desc                               { float:left; margin-left:47px; width:302px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap dl.desc dt                            { font-size:20px; font-weight:700; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap dl.desc dd                            { color:#666; font-size:14px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap dl.desc dd.eng                        { color:#000; font-size:36px; font-weight:700; margin-bottom:5px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2                         { border-right:1px solid #cdcdcd; float:left; margin-left:20px; position:relative; width:180px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2 > li      a             { color:#666; display:block; font-size:14px; font-weight:900; height:30px; line-height:30px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2 > li      a:hover       { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2 > li.on > a             { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2 > li      ul.gnb-depth3 { left:180px; margin-left:20px; opacity:0; position:absolute; top:0; width:180px; } 
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap ul.gnb-depth2 > li.on   ul.gnb-depth3 { left:180px; opacity:1; position:absolute; top:0; z-index:3; } 
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap div.etc                               { float:right; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap div.etc a                             { border:2px solid #cdcdcd; color:#666; display:block; font-size:16px; height:40px; line-height:40px; margin-bottom:6px; text-align:center; width:224px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li               div.gnb-depth1-wrap div.etc a i                           { color:#E14B4F; }

/********* 
    슬라이드
*********/
main     ul.slide                 { left:0; position:absolute; transition:left 0.3s; width:100%; }
main     ul.slide li              { left:0; overflow:hidden; position:absolute; top:0; width:100%; }
main     ul.slide li img          { left:50%; overflow:hidden; position:relative; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); }
main     ul.slide li img.visual-m { display:none; }
main     div.control              { height:100%; position:absolute; top:0; width:100%; }
main     div.control a            { color:#fff; display:block; font-size:80px; height:80px; line-height:80px; margin:0 20px; position:absolute; text-align:center; width:80px; }
main     div.control a.left       { left:0; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); }
main     div.control a.right      { right:0; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); }
main     div.control a i          { text-shadow:2px 2px 1px #999; }
main     ul.indicator                         { border-radius:20px; background-color:rgba(0, 0, 0, 0.3); bottom:50px; left:50%; overflow:hidden; position:absolute; padding:10px 20px; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); }
main     ul.indicator li                      { float:left; margin:0 5px; }
main     ul.indicator li      a               { border-radius:25px; background-color:#fff; color:#fff; display:block; height:16px; line-height:16px; overflow:hidden; text-align:center; width:16px; }
main     ul.indicator li.on   a               { background-color:#fef100; }
main     ul.indicator li      a i             { display:none; }
main     ul.indicator li.play a               { display:block; border-radius:0; background-color:transparent; color:#fff; font-size:16px; margin-left:10px; }
main     ul.indicator li.play a i:first-child { display:none; }
main     ul.indicator li.play a i:last-child  { display:block; }
main .on ul.indicator li.play a i:first-child { display:block; }
main .on ul.indicator li.play a i:last-child  { display:none; }

/*********
    footer
*********/
footer { height:auto; margin-top:100px; }

/* footer 상단 < footer */
footer div.footer-above { background-color:#f7f7f7; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; overflow:hidden; }

/* footer 링크 < footer 상단 < footer */
footer div.footer-above ul.links        { float:left; }
footer div.footer-above ul.links li     { float:left; }
footer div.footer-above ul.links li a   { font-size:16px; height:64px; line-height:64px; margin-right:20px; }
footer div.footer-above ul.links li a i { display:inline-block; margin-right:4px; }

/* 소셜네트워크 공유 < footer 상단 < footer */
footer div.footer-above ul.social      { float:right; }
footer div.footer-above ul.social li   { float:left; height:64px; line-height:64px; margin-left:10px; }
footer div.footer-above ul.social li a { background-color:#737374; border-radius:25px; color:#fff; display:block; font-size:20px; height:35px; line-height:35px; margin-top:15px; text-align:center; width:35px; }

/* footer 하단 < footer */
footer div.footer-below { overflow:hidden; margin-top:30px; }

/* footer 로고 < footer 하단 < footer */
footer div.footer-below div.footer-logo { float:left; width:161px; }

/* 회사정보 < footer 하단 < footer */
footer div.footer-below ul.info                { float:left; margin-left:20px; width:600px; }
footer div.footer-below ul.info li             { float:left; font-size:14px; font-weight:400;}
footer div.footer-below ul.info li:after       { content:'|'; font-size:10px; height:20px; line-height:20px; margin:0 10px; vertical-align:top; }
footer div.footer-below ul.info li.nobar:after { content:none; }
footer div.footer-below ul.info li.copyright   { margin-top:16px; width:100%; }

/* 인증마크 < footer 하단 < footer */
footer div.footer-below div.mark { float:right; width:300px; }

/*******************
    최상단으로 이동 버튼
********************/
div.go-top   { bottom:0; position:fixed; right:0; }
div.go-top a { background-color:#E05458; color:#fff; display:block; font-size:50px; height:70px; line-height:70px; opacity:0.8; text-align:center; width:70px; }

/*******************
    width 1200px 이하
*******************/
@media (max-width:1200px)  {
    .container { margin:0 20px; width:auto; }

    /* 상단 우측 링크 버튼 < 헤더 */
    header div.header-wrap ul.nav-link { right:0; }
}

/*******************
    width 1024px 이하
*******************/
@media (max-width:1024px)  {
    /******
        GNB
    ******/
    header div.header-wrap nav.gnb ul.gnb-depth1 > li div.gnb-depth1-wrap div.etc { display:none; }
}

/******************
    width 800px 이하
******************/
@media (max-width:800px)  {
    /******
        GNB
    ******/
    header div.header-wrap nav.gnb ul.gnb-depth1 li a { font-size:16px; }

    /******
        푸터
    ******/
    footer div.footer-above ul.links     { text-align:center; width:100%; }
    footer div.footer-above ul.links li  { display:inline-block; float:none; }
    footer div.footer-above ul.social    { text-align:center; width:100%; }
    footer div.footer-above ul.social li { display:inline-block; float:none; }
}

/******************
    width 640px 이하
******************/
@media (max-width:640px)  {
    /******
        헤더
    ******/
    header div.header-wrap { height:98px; }

    /******
        로고
    ******/
    header div.header-wrap h1.logo       { height:62px; margin:0 auto; width:63px; }
    header div.header-wrap h1.logo a     { display:block; height:100%; width:100%; }
    header div.header-wrap h1.logo a img { display:block; height:100%; width:100%; }

    /**********************
        사이트맵 열기, 닫기 버튼
    **********************/
    header div.header-wrap nav.sitemap span.sitemap-btn { display:block; }

    /*******
        GNB 
    *******/
    /* GNB 백그라운드 */
    header div.gnb-bg,
    header div.gnb-bg.on           { display:none; }
    header div.header-wrap nav.gnb { display:none; }

    /*****************
        메인 배너 슬라이드
    *****************/
    main section.banner ul.slide li img          { display:none; }
    main section.banner ul.slide li img.visual-m { display:block; }

    /*********
        footer
    *********/
    /* footer 상단 < footer */
    footer div.footer-above               { background:none; border:none; }
    footer div.footer-above ul.links      { background-color:#f7f7f7; overflow:hidden; width:100%; }
    footer div.footer-above ul.links li   { border:1px solid #e4e4e4; box-sizing:border-box; display:block; float:left; height:45px; line-height:45px; text-align:center; width:50%;}
    footer div.footer-above ul.links li a { height:auto; line-height:inherit; margin-right:0; }
    footer div.footer-above ul.social     { text-align:center; margin-top:10px; width:100%; }
    footer div.footer-above ul.social li  { display:inline-block; float:none; }

    /* footer 하단 < footer */
    footer div.footer-below                                { margin:0; }
    footer div.footer-below div.footer-logo                { text-align:center; width:100%; }
    footer div.footer-below ul.info                        { margin-left:0; text-align:center; width:100%; }
    footer div.footer-below ul.info li                     { color:#666; float:none; font-size:14px; line-height:24px; }
    footer div.footer-below ul.info li:nth-child(1),
    footer div.footer-below ul.info li:nth-child(2),
    footer div.footer-below ul.info li:nth-child(3)        { display:inline-block; }
    footer div.footer-below ul.info li:nth-child(1):after,
    footer div.footer-below ul.info li:nth-child(4):after,
    footer div.footer-below ul.info li:nth-child(5):after,
    footer div.footer-below ul.info li:nth-child(6):after  { content:none; }
    footer div.footer-below ul.info li.copyright           { color:#333; }
    footer div.footer-below div.mark                       { margin-top:10px; text-align:center; width:100%; }

}
