@charset 'utf-8';

/*
    원칙1. CSS는 HTML 문서가 읽히는 순서대로 작성한다.
*/

/********
    reset
********/
*         { margin:0; padding:0; }
li        { list-style:none; }
a         { text-decoration:none; color:inherit; }
fieldset,
button    { border:0; margin:0; padding:0; background:none; }
body      { font-family:'Noto Sans KR','sans-serif'; font-size:14px; color:#333; }

/******
    공통
******/
.container        { margin:0 auto; width:1200px; }
.sr-only          { position: absolute; left: -10000px; width: 0px; height: 0px; overflow: hidden; }
#skip-nav         { position:fixed; left:0; top:-40px; width:100%; line-height:40px; font-size:16px; border-bottom:1px solid #ffffff; color:#ffffff; background:#999999; background:rgba(0, 0, 0, 0.6); text-align:center; z-index:10000; transition:top 0.3s; }
#skip-nav:focus   { top:0; }

body div.wrap { overflow:hidden; }

/******
    헤더
******/
header                 { position:relative; z-index:1; background-color:#fef100; box-shadow:0 1px 10px 1px #666; }
header div.header-wrap { height:208px; text-align:center; }

/* 로고 */
header div.header-wrap h1.logo   { width:101px; height:98px; position: absolute; left: 50%; transform: translateX(-50%); top: 16px; z-index:1; }
header div.header-wrap h1.logo a { display:block; width:100%; height:100%; }

/* 상단 우측 링크 버튼 < 헤더 */
header div.header-wrap ul.nav-link                    { position:absolute; text-align:right; top:35px; }
header div.header-wrap ul.nav-link li                 { display:inline-block; margin-left:10px; }
header div.header-wrap ul.nav-link li.lang            { position:relative; }
header div.header-wrap ul.nav-link li.lang ul         { transition:transform 0.3s; transform-origin:left top; transform:scaleY(0) translateX(-50%); overflow:hidden; position:absolute; margin-top:5px; left:50%; background-color:#fff; }
header div.header-wrap ul.nav-link li.lang ul.on      { transform:scaleY(1) translateX(-50%); }
header div.header-wrap ul.nav-link li.lang ul    li   { display:block; margin-left:0; padding:5px 20px; }  
header div.header-wrap ul.nav-link li.lang ul    li a { font-weight:900; display:block; width:100%; height:100%; }

/**********
    사이트맵
**********/
header div.header-wrap nav.sitemap                                                                          { display:block; left:0; position:absolute; top:94px; width:100%; z-index:3; }
header div.header-wrap nav.sitemap    div.container                                                         { margin:0; width:100%; }
header div.header-wrap nav.sitemap    span.sitemap-btn                                                      { display:none; left:20px; position:absolute; top:-56px; }
header div.header-wrap nav.sitemap    span.sitemap-btn a                                                    { width:20px; height:20px; line-height:20px; text-align:center; }
header div.header-wrap nav.sitemap    span.sitemap-btn a:nth-child(1)                                       { display:block; }
header div.header-wrap nav.sitemap.on span.sitemap-btn a:nth-child(1)                                       { display:none; }
header div.header-wrap nav.sitemap    span.sitemap-btn a:nth-child(2)                                       { display:none; }
header div.header-wrap nav.sitemap.on span.sitemap-btn a:nth-child(2)                                       { display:block; }
header div.header-wrap nav.sitemap    span.sitemap-btn a img                                                { display:block; width:100%; height:100%; }
header div.header-wrap nav.sitemap    div.sitemap-wrap                                                      { display:none; color:#fff; }
header div.header-wrap nav.sitemap.on div.sitemap-wrap                                                      { display:block; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1                                   { width:100%; text-align:left; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              > a                  { position:relative; display:block; width:100%; border-bottom:1px solid #e76c71; background-color:#dc2c34; display:block; height:60px; line-height:60px; padding:0 20px; box-sizing:border-box; font-size:20px; text-align:left; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              > a i                { display:block; height:60px; line-height:60px; position:absolute; right:0; top:0; text-align:center; width:60px; }
/* header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1.has-depth    > a:after            { content:'+'; position:absolute; top:50%; right:20px; transform:translateY(-50%); font-size:48px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1.has-depth.on > a:after            { content:'-'; } */
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2    { background-color:#9a1f24; height:0; opacity:0; overflow:hidden; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1.on           dl.sitemap-depth2    { height:auto; opacity:1; padding:20px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2 dt { padding:7px 14px; }
header div.header-wrap nav.sitemap    div.sitemap-wrap div.sitemap-depth1              dl.sitemap-depth2 dd { padding:7px 14px; }

/******
    GNB
******/
/* GNB 백그라운드 */
header div.gnb-bg    { display:none; background:#fff; height:245px; position:absolute; top:208px; width:100%; }
header div.gnb-bg.on { display:block; }

header div.header-wrap nav.gnb                                                { position:relative; top:130px; }
header div.header-wrap nav.gnb ul.gnb-depth1                                  { position: relative; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li                             { float:left; width:16.666%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a             { position:relative; display:block; width:100%; height:77px; line-height:77px; font-size:18px; font-weight:400; color:#082841; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:hover       { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:before      { content:'|'; font-size:14px; height:77px; line-height:77px; vertical-align:top; float:left; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li:first-child > a:before      { content:''; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:after       { bottom:-2px; background-color:#dc2c34; content:' '; height:5px; left:0; position:absolute; transition:width 0.3s; width:0; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:hover:after,
header div.header-wrap nav.gnb ul.gnb-depth1 > li             > a:focus:after { width:100%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap                                       { box-sizing:border-box; display:none; height:245px; left:0; overflow:hidden; position:absolute; padding-top:34px; width:100%; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li.on div.gnb-depth1-wrap                                       { display:block; text-align:left; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap dl.desc                               { float:left; width:302px; margin-left:47px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap dl.desc dt                            { font-size:20px; font-weight:700; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap dl.desc dd                            { color:#666; font-size:14px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap dl.desc dd.eng                        { color:#000; font-size:36px; font-weight:700; margin-bottom:5px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2                         { border-right:1px solid #cdcdcd; float:left; margin-left:20px; position:relative; width:180px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2 > li      a             { color:#666; display:block; font-size:14px; font-weight:900; height:30px; line-height:30px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2 > li      a:hover       { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2 > li.on > a             { color:#dc2c34; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2 > li      ul.gnb-depth3 { opacity:0; left:180px; margin-left:20px; position:absolute; top:0; width:180px; } 
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap ul.gnb-depth2 > li.on   ul.gnb-depth3 { opacity:1; left:180px; position:absolute; top:0; z-index:3; } 
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap div.etc                               { float:right; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap div.etc a                             { border:2px solid #cdcdcd; color:#666; display:block; font-size:16px; height:40px; line-height:40px; margin-bottom:6px; text-align:center; width:224px; }
header div.header-wrap nav.gnb ul.gnb-depth1 > li    div.gnb-depth1-wrap div.etc a i                           { color:#E14B4F; }


/*********
    footer
*********/
footer { height:auto; margin-top:100px; }

/* footer 상단 < footer */
footer div.footer-above { overflow:hidden; background-color:#f7f7f7; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }

/* footer 링크 < footer 상단 < footer */
footer div.footer-above ul.links        { float:left; }
footer div.footer-above ul.links li     { float:left; }
footer div.footer-above ul.links li a   { height:64px; line-height:64px; font-size:16px; margin-right:20px; }
footer div.footer-above ul.links li a i { display:inline-block; margin-right:4px; }

/* 소셜네트워크 공유 < footer 상단 < footer */
footer div.footer-above ul.social      { float:right; }
footer div.footer-above ul.social li   { float:left; margin-left:10px; height:64px; line-height:64px; }
footer div.footer-above ul.social li a { display:block; margin-top:15px; width:35px; height:35px; line-height:35px; color:#fff; background-color:#737374; border-radius:25px; text-align:center; font-size:20px; }

/* footer 하단 < footer */
footer div.footer-below { overflow:hidden; margin-top:30px; }

/* footer 로고 < footer 하단 < footer */
footer div.footer-below div.footer-logo { float:left; width:161px; }

/* 회사정보 < footer 하단 < footer */
footer div.footer-below ul.info                { margin-left:20px; float:left; width:600px; }
footer div.footer-below ul.info li             { float:left; font-size:14px; font-weight:400;}
footer div.footer-below ul.info li:after       { content:'|'; margin:0 10px; font-size:10px; height:20px; line-height:20px; vertical-align:top; }
footer div.footer-below ul.info li.nobar:after { content:none; }
footer div.footer-below ul.info li.copyright   { width:100%; margin-top:16px; }

/* 인증마크 < footer 하단 < footer */
footer div.footer-below div.mark { float:right; width:300px; }



/*******************
    최상단으로 이동 버튼
********************/
div.go-top   { position:fixed; right:0; bottom:0; }
div.go-top a { width:70px; height:70px; line-height:70px; display:block; font-size:50px; color:#fff; background-color:#E05458; text-align:center; opacity:0.8; }


/*******************
    width 1200px 이하
*******************/
@media (max-width: 1200px)  {
    .container { width:auto; margin:0 20px; }

    /* 상단 우측 링크 버튼 < 헤더 */
    header div.header-wrap ul.nav-link { right:0; }
}

/*******************
    width 1024px 이하
*******************/
@media (max-width: 1024px)  {
    /******
        GNB
    ******/
    header div.header-wrap nav.gnb ul.gnb-depth1 > li div.gnb-depth1-wrap div.etc { display:none; }
}

/******************
    width 800px 이하
******************/
@media (max-width: 800px)  {
    /******
        GNB
    ******/
    header div.header-wrap nav.gnb ul.gnb-depth1 li a { font-size:16px; }

    /******
        푸터
    ******/
    footer div.footer-above ul.links     { width:100%; text-align:center; }
    footer div.footer-above ul.links li  { float:none; display:inline-block; }
    footer div.footer-above ul.social    { width:100%; text-align:center; }
    footer div.footer-above ul.social li { float:none; display:inline-block; }
}

/******************
    width 640px 이하
******************/
@media (max-width: 640px)  {
    /******
        헤더
    ******/
    header div.header-wrap { height:98px; }

    /******
        로고
    ******/
    header div.header-wrap h1.logo       { width:63px; height:62px; margin:0 auto;  }
    header div.header-wrap h1.logo a     { display:block; width:100%; height:100%; }
    header div.header-wrap h1.logo a img { display:block; width:100%; height:100%; }

    /**********************
        사이트맵 열기, 닫기 버튼
    **********************/
    header div.header-wrap nav.sitemap span.sitemap-btn { display:block; }

    /*******
        GNB 
    *******/
    /* GNB 백그라운드 */
    header div.gnb-bg,
    header div.gnb-bg.on { display:none; }
    header div.header-wrap nav.gnb { display:none; }

    /*****************
        메인 배너 슬라이드
    *****************/
    main section.banner ul.slide li img          { display:none; }
    main section.banner ul.slide li img.visual-m { display:block; }

    /*********
        footer
    *********/
    /* footer 상단 < footer */
    footer div.footer-above               { background:none; border:none; }
    footer div.footer-above ul.links      { width:100%; overflow:hidden; background-color:#f7f7f7; }
    footer div.footer-above ul.links li   { float:left; display:block; width:50%; height:45px; line-height:45px; text-align:center; border:1px solid #e4e4e4; box-sizing:border-box;}
    footer div.footer-above ul.links li a { height:auto; line-height:inherit; margin-right:0; }
    footer div.footer-above ul.social     { width:100%; text-align:center; margin-top:10px; }
    footer div.footer-above ul.social li  { float:none; display:inline-block; }

    /* footer 하단 < footer */
    footer div.footer-below                                { margin:0; }
    footer div.footer-below div.footer-logo                { width:100%; text-align:center; }
    footer div.footer-below ul.info                        { width:100%; text-align:center; margin-left:0; }
    footer div.footer-below ul.info li                     { float:none; font-size:14px; color:#666; line-height:24px; }
    footer div.footer-below ul.info li:nth-child(1),
    footer div.footer-below ul.info li:nth-child(2),
    footer div.footer-below ul.info li:nth-child(3)        { display:inline-block; }
    footer div.footer-below ul.info li:nth-child(1):after,
    footer div.footer-below ul.info li:nth-child(4):after,
    footer div.footer-below ul.info li:nth-child(5):after,
    footer div.footer-below ul.info li:nth-child(6):after  { content:none; }
    footer div.footer-below ul.info li.copyright           { color:#333; }
    footer div.footer-below div.mark                       { width:100%; text-align:center; margin-top:10px; }

}
