@charset 'utf-8';

/*
    원칙1. CSS는 HTML 문서가 읽히는 순서대로 작성한다.
*/

/********
    reset
********/
*         { margin:0; padding:0; }
li        { list-style:none; }
a         { text-decoration:none; color:inherit; }
fieldset,
button    { border:0; margin:0; padding:0; background:none; }
body      { font-family:'Noto Sans KR','sans-serif'; font-size:14px; color:#333; }

/******
    공통
******/
.container        { margin:0 auto; width:1200px; }
.sr-only          { position: absolute; left: -10000px; width: 0px; height: 0px; overflow: hidden; }
#skip-nav         { position:fixed; left:0; top:-40px; width:100%; line-height:40px; font-size:16px; border-bottom:1px solid #ffffff; color:#ffffff; background:#999999; background:rgba(0, 0, 0, 0.6); text-align:center; z-index:10000; transition:top 0.3s; }
#skip-nav:focus   { top:0; }

body div.wrap { overflow:hidden; }

/******
    헤더
******/
header                 { position:relative; z-index:1; background-color:#fef100; box-shadow:0 1px 10px 1px #666; }
header div.header-wrap { height:208px; text-align:center; overflow:hidden; }

/* 상단 좌측 사이트맵 열기 버튼 < 헤더 */
header div.header-wrap span.sitemap-open       { display:none; float:left; }
header div.header-wrap span.sitemap-open a     { display:block; width:67px; height:67px; line-height:67px; text-align:center; }
header div.header-wrap span.sitemap-open a img { vertical-align:middle; }

/* 로고 */
header div.header-wrap h1.logo   { width:101px; height:98px; margin:16px auto 0 auto;  }
header div.header-wrap h1.logo a { display:block; width:100%; height:100%; }

/* 상단 우측 링크 버튼 < 헤더 */
header div.header-wrap ul.nav-link    { float:right; margin-top:35px; margin-right:20px; }
header div.header-wrap ul.nav-link li { display:inline-block; margin-left:10px; }

/**********
    사이트맵
**********/
header nav.sitemap { position:absolute; background-color:#fff; width:100%; height:0px; transition:height 0.3s; color:#777; overflow:hidden; z-index:3; }

/* GNB 닫기 버튼 < 사이트맵 */
header nav.sitemap div.sitemap-close       { position:absolute; }
header nav.sitemap div.sitemap-close a     { display:block; width:67px; height:67px; line-height:67px; text-align:center; }
header nav.sitemap div.sitemap-close a img { vertical-align:middle; }

/* GNB 목록 < 사이트맵 */
header nav.sitemap div.sitemap-wrap                                         { display:none; padding:130px 0 60px 0; overflow:hidden; }
header nav.sitemap div.sitemap-wrap div.sitemap-depth1                      { float:left; width:20%; padding:0 20px; box-sizing:border-box; }
header nav.sitemap div.sitemap-wrap div.sitemap-depth1 span                 { display:block; background-image:url('../img/bg_menuh3.png'); background-position:left top; background-repeat:no-repeat; padding-top:20px; }
header nav.sitemap div.sitemap-wrap div.sitemap-depth1 span a               { display:block; font-size:30px; }
header nav.sitemap div.sitemap-wrap div.sitemap-depth1 dl.sitemap-depth2 dt { margin:20px 0 10px 0; padding-left:14px; font-size:16px; background:url('../img/bg_menuli.png') left center no-repeat; }
header nav.sitemap div.sitemap-wrap div.sitemap-depth1 dl.sitemap-depth2 dd { padding:0 14px; font-size:14px; }

/******
    GNB
******/
header div.header-wrap nav.gnb ul.gnb-depth1                         { margin-top:18px; }
header div.header-wrap nav.gnb ul.gnb-depth1 li                      { display:inline-block; width:16.333%; }
header div.header-wrap nav.gnb ul.gnb-depth1 li             a        { display:block; width:100%; height:77px; line-height:77px; font-size:18px; font-weight:400; color:#082841; }
header div.header-wrap nav.gnb ul.gnb-depth1 li             a:before { content:'|'; font-size:14px; height:77px; line-height:77px; vertical-align:top; float:left; }
header div.header-wrap nav.gnb ul.gnb-depth1 li:first-child a:before { content:''; }


/******
    메인
******/
main { width:100%; }

/*************
    배너 슬라이드
**************/
main section.banner                          { position:relative; width:100%; height:530px; }
main section.banner ul.slide                 { position:absolute; left:0; transition:left 0.3s; width:100%; }
main section.banner ul.slide li              { position:absolute; top:0; left:0; width:100%; overflow:hidden;  }
main section.banner ul.slide li img          { position:relative; left:50%; transform:translateX(-50%); overflow:hidden; }
main section.banner ul.slide li img.visual-m { display:none; }


main section.banner div.control         { position:absolute; top:0; width:100%; height:100%; }
main section.banner div.control a       { position:absolute; font-size:80px; color:#fff; width:80px; height:80px; line-height:80px; display:block; text-align:center; margin:0 20px; }
main section.banner div.control a.left  { left:0; top:50%; transform:translateY(-50%); }
main section.banner div.control a.right { right:0; top:50%; transform:translateY(-50%); }
main section.banner div.control a i     { text-shadow:2px 2px 1px #999; }

main section.banner    ul.indicator                         { position:absolute; bottom:50px; left:50%; transform:translateX(-50%); overflow:hidden; background-color:rgba(0, 0, 0, 0.3); padding:10px 20px; border-radius:20px; }
main section.banner    ul.indicator li                      { float:left; margin:0 5px; }
main section.banner    ul.indicator li      a               { display:block; width:16px; height:16px; line-height:16px; border-radius:25px; background-color:#fff; color:#fff; text-align:center; overflow:hidden; }
main section.banner    ul.indicator li.on   a               { background-color:#fef100; }
main section.banner    ul.indicator li      a i             { display:none; }
main section.banner    ul.indicator li.play a               { display:block; margin-left:10px; font-size:16px; border-radius:0; background-color:transparent; color:#fff; }
main section.banner    ul.indicator li.play a i:first-child { display:none; }
main section.banner    ul.indicator li.play a i:last-child  { display:block; }
main section.banner.on ul.indicator li.play a i:first-child { display:block; }
main section.banner.on ul.indicator li.play a i:last-child  { display:none; }

/************
    오뚜기 링크
************/
main section.site-link                                      { position:relative; margin-top:-30px; overflow:hidden; }
main section.site-link li                                   { position:relative; float:left; width:24%; margin-left:1.333%; }
main section.site-link li:first-child                       { margin-left:0; }
main section.site-link li             img                   { display:block; width:100%; }
main section.site-link li             a                     { display:block; position:absolute; width:100%; height:100%; text-align:center; top:0; }
main section.site-link li             a   span              { display:block; color:#fff; }
main section.site-link li             a   span:nth-child(1) { font-size:28px; font-weight:700; margin-top:33.333%; }
main section.site-link li             a   span:nth-child(2) { font-size:20px; }
main section.site-link li             a   span:nth-child(3) { font-size:12px; font-weight:700; }

/************
    오뚜기 뉴스
************/
main section.news            { margin-top:60px; overflow:hidden; color:#333; }
main section.news h2         { float:left; width:24%; font-size:30px; }
main section.news h2 a       { font-size:14px; color:#dc2c34; display:block; }
main section.news dl         { float:left; width:24%; margin-left:1.333%; }
main section.news dl dt      { height:90px; }
main section.news dl dt a    { font-size:18px; }
main section.news dl dd      { margin-bottom:20px; }
main section.news dl dd a    { display:block; font-size:14px; color:#666; min-height:100px; }
main section.news dl dd.date { margin-bottom:0; }


/**************
    이벤트&신제품
**************/
main div.event-new    { margin-top:60px; overflow:hidden; }
main div.event-new h2 { display:block; font-size:30px; color:#333; font-weight:400; }

/* 이벤트 < 이벤트&신제품소개 */
main div.event-new section.event     { float:left; width:50%; }
main div.event-new section.event div.event-slide { border:1px solid #e1e1e1; box-sizing:border-box; }
main div.event-new section.event img { display:block; width:100%; }

/* 이벤트 슬라이드 < 이벤트 < 이벤트&신제품소개 */
main div.event-new section.event div.event-slide                       { position:relative; width:100%; height:0; padding-bottom:50%; }
main div.event-new section.event div.event-slide    ul.slide           { position:absolute; left:0; transition:left 0.3s; width:100%; }
main div.event-new section.event div.event-slide    ul.slide li        { position:absolute; top:0; left:0; width:100%; overflow:hidden;  }
main div.event-new section.event div.event-slide    ul.slide li img    { position:relative; left:50%; transform:translateX(-50%); overflow:hidden; }
main div.event-new section.event div.event-slide    ul.indicator                         { position:absolute; bottom:10px; left:50%; transform:translateX(-50%); overflow:hidden; background-color:rgba(0, 0, 0, 0.3); padding:10px 20px; border-radius:20px; }
main div.event-new section.event div.event-slide    ul.indicator li                      { float:left; margin:0 2px; }
main div.event-new section.event div.event-slide    ul.indicator li      a               { display:block; width:16px; height:16px; line-height:16px; border-radius:25px; background-color:#fff; color:#fff; text-align:center; overflow:hidden; }
main div.event-new section.event div.event-slide    ul.indicator li.on   a               { background-color:#fef100; }
main div.event-new section.event div.event-slide    ul.indicator li      a i             { display:none; }
main div.event-new section.event div.event-slide    ul.indicator li.play a               { display:block; margin-left:10px; font-size:16px; border-radius:0; background-color:transparent; color:#fff; }
main div.event-new section.event div.event-slide    ul.indicator li.play a i:first-child { display:none; }
main div.event-new section.event div.event-slide    ul.indicator li.play a i:last-child  { display:block; }
main div.event-new section.event div.event-slide.on ul.indicator li.play a i:first-child { display:block; }
main div.event-new section.event div.event-slide.on ul.indicator li.play a i:last-child  { display:none; }


/* 신제품소개 < 이벤트&신제품소개 */
main div.event-new section.new div.new-slide                       { position:relative; width:100%; height:0; padding-bottom:50%; }
main div.event-new section.new div.new-slide    ul.slide           { position:absolute; left:0; transition:left 0.3s; width:100%; }
main div.event-new section.new div.new-slide    ul.slide li        { position:absolute; top:0; left:0; width:100%; overflow:hidden;  }
main div.event-new section.new div.new-slide    ul.slide li img    { position:relative; left:50%; transform:translateX(-50%); overflow:hidden; }
main div.event-new section.new div.new-slide    ul.indicator                         { position:absolute; bottom:10px; left:50%; transform:translateX(-50%); overflow:hidden; background-color:rgba(0, 0, 0, 0.3); padding:10px 20px; border-radius:20px; }
main div.event-new section.new div.new-slide    ul.indicator li                      { float:left; margin:0 2px; }
main div.event-new section.new div.new-slide    ul.indicator li      a               { display:block; width:16px; height:16px; line-height:16px; border-radius:25px; background-color:#fff; color:#fff; text-align:center; overflow:hidden; }
main div.event-new section.new div.new-slide    ul.indicator li.on   a               { background-color:#fef100; }
main div.event-new section.new div.new-slide    ul.indicator li      a i             { display:none; }
main div.event-new section.new div.new-slide    ul.indicator li.play a               { display:block; margin-left:10px; font-size:16px; border-radius:0; background-color:transparent; color:#fff; }
main div.event-new section.new div.new-slide    ul.indicator li.play a i:first-child { display:none; }
main div.event-new section.new div.new-slide    ul.indicator li.play a i:last-child  { display:block; }
main div.event-new section.new div.new-slide.on ul.indicator li.play a i:first-child { display:block; }
main div.event-new section.new div.new-slide.on ul.indicator li.play a i:last-child  { display:none; }

main div.event-new section.new                       { overflow:hidden; width:50%;  }
main div.event-new section.new div.left              { width:50%; height:0; padding-bottom:50%; float:left; border:1px solid #e1e1e1; box-sizing:border-box; }
main div.event-new section.new div.left img          { width:100%; }
main div.event-new section.new div.right             { width:50%; height:0; padding-bottom:50%; float:right; overflow:hidden; border:1px solid #e1e1e1; box-sizing:border-box; }
main div.event-new section.new div.right img         { width:100%; }
main div.event-new section.new div a                 { display:block; width:100%; height:100%; }
main div.event-new section.new div                   { position:relative; }
main div.event-new section.new div span.new          { position:absolute; top:10px; right:10px; display:block; text-align:center; width:40px; height:40px; line-height:40px; border-radius:40px; color:#fff; background:red; }
main div.event-new section.new div p                 { position:absolute; bottom:30px; left:50%; transform:translateX(-50%); box-sizing:border-box; background-color:rgba(255, 255, 255, 0.7); border-radius:10px; }
main div.event-new section.new div p span            { display:block; text-align:center; color:#333; font-size:18px; }
main div.event-new section.new div p span:last-child { color:#666; font-size:14px; }

main section.popular,
main section.cooking-story,
main section.sns                     { padding-top:50px; }
main section.popular h2,
main section.cooking-story h2,
main section.sns h2                  { font-size:36px; text-align:center; }
main section.popular h2:after,
main section.cooking-story h2:after,
main section.sns h2:after            { content:''; display:block; width:40px; margin:0 auto; margin-top:10px; border-bottom:1px solid #e35b5b; }
main section.popular p,
main section.cooking-story p,
main section.sns                     { text-align:center; color:#666; font-size:16px; margin-top:14px; }

main section div.list                                                           { position:relative; width:1200px; margin:0 auto; margin-top:40px; }
main section div.list div.wrapper                                               { width:100%; overflow:hidden; height:320px; position:relative; z-index:1; }
main section div.list div.wrapper ul.items                                      { width:100%; height:100%; position:absolute; left:0; transition:left 0.3s; }
main section div.list div.wrapper ul.items li                                   { position:relative; transition:left 0.3s; margin:0 5px; width:230px; height:100%; float:left; background-color:#fff; border-radius:2px; border:1px solid #e1e1e1; box-sizing:border-box; }
main section div.list div.wrapper ul.items li a                                 { display:block; width:100%; height:100%; text-align:center; }
main section div.list div.wrapper ul.items li a       img                       { height:180px; }
main section div.list div.wrapper ul.items li a       span                      { display:block; }
main section div.list div.wrapper ul.items li a       span.info                 { position:absolute; box-sizing:border-box; width:100%; bottom:0; left:50%; padding:20px 0 10px 0; transform:translateX(-50%); border:1px solid #e1e1e1; color:#666; text-align:center; }
main section div.list div.wrapper ul.items li a       span.info span.name       { height:56px; font-size:18px; }
main section div.list div.wrapper ul.items li a       span.info span.category   { height:22px; font-size:14px; }
main section div.list div.wrapper ul.items li a       span.info i               { position:absolute; top:-5px; width:18px; height:7px; margin-left:-9px; background-color:#fff; }
main section div.list div.wrapper ul.items li a       span.info i.bullet:before { position:absolute; top:0; left:-3px; content:''; display:block; width:14px; height:1px; background-color:#e1e1e1; transform:rotate(135deg); }
main section div.list div.wrapper ul.items li a       span.info i.bullet:after  { position:absolute; top:0; right:-3px; content:''; display:block; width:14px; height:1px; background-color:#e1e1e1; transform:rotate(45deg); }
main section div.list div.wrapper ul.items li a       span.detail               { width:100%; height:0; background:rgba(220,44,52,0.7); position:absolute; bottom:0; transition:height 0.3s; }
main section div.list div.wrapper ul.items li a:hover span.detail               { height:100%; }
main section div.list div.wrapper ul.items li a       span.detail i             { display:block; width:40px; border-radius:40px; padding:10px 0; font-size:20px; color:rgba(220,44,52,0.7); background-color:#fff; margin:0 auto; margin-top:50%; }
main section div.list div.wrapper ul.items li a       span.detail span          { display:block; color:#fff; margin-top:20px; }
main section div.list div.control         { position:absolute; top:0; width:100%; height:100%; }
main section div.list div.control a       { position:absolute; width:60px; text-align:center; top:50%; transform:translateY(-50%); font-size:70px; color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,0.3); }
main section div.list div.control a.left  { left:-70px; }
main section div.list div.control a.right { right:-70px; }

main section.popular          { background:url('../img/visual_06.jpg') center center no-repeat; background-size:cover; height:500px; margin-top:70px; }
main section.popular h2,      
main section.popular p        { color:#fff; }
main section.popular h2:after { border-color:#fff; }

main section.cooking-story                        { background-color:#fffee5; height:500px; }
main section.cooking-story div.list div.control a { color:#CCCBB6; }
main section.cooking-story div.list ul.items li a img { height:auto; width:100%; }
main section.cooking-story div.list div.wrapper ul.items li a span.info { height:105px; border:0; padding:0px 20px 10px 20px; }
main section.cooking-story div.list div.wrapper ul.items li a span.info:before { content:''; position:absolute; top:-20px; left:50%; margin-left:-5px; border-width:10px; border-style:solid; border-color: transparent transparent #fff transparent; transform:none; }


/* 오뚜기 SNS */
main section.sns                              { height:600px; }
main section.sns p                            { text-align:center; color:#666; font-size:16px; margin-top:14px; }
main section.sns dl                           { position:relative; height:440px; margin-top:20px; }
main section.sns dl:before                    { content:''; position:absolute; left:0; top:0; width:100%; height:60px; background-color:#eaeef2; z-index:-1; }
main section.sns dl dt                        { width:25%; float:left; font-size:16px; color:#666; font-weight:400; }
main section.sns dl dt     a                  { position:relative; display:block; width:100%; height:60px; line-height:60px; text-align:center; }
main section.sns dl dt.on  a                  { background-color:#273C6A; color:#fff; }
main section.sns dl dt.on  a:after            { content: ''; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #273C6A transparent transparent transparent; }
main section.sns dl dd                        { position:absolute; left:-10000px; width: 0px; height: 0px; overflow: hidden; }
main section.sns dl dd.on                     { position:absolute; left:0; bottom:0; width:100%; height:auto; }
main section.sns dl dd     a                  { float:left; width:24%; margin-left:1.333%; }
main section.sns dl dd     a:first-child      { margin-left:0; }
main section.sns dl dd     a             img  { display:block; width:100%; }
main section.sns dl dd     a             span { display:block; height:40px; }



/*********
    footer
*********/
footer { height:auto; }

/* footer 상단 < footer */
footer div.footer-above { overflow:hidden; background-color:#f7f7f7; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }

/* footer 링크 < footer 상단 < footer */
footer div.footer-above ul.links        { float:left; }
footer div.footer-above ul.links li     { float:left; }
footer div.footer-above ul.links li a   { height:64px; line-height:64px; font-size:16px; margin-right:20px; }
footer div.footer-above ul.links li a i { display:inline-block; margin-right:4px; }

/* 소셜네트워크 공유 < footer 상단 < footer */
footer div.footer-above ul.social      { float:right; }
footer div.footer-above ul.social li   { float:left; margin-left:10px; height:64px; line-height:64px; }
footer div.footer-above ul.social li a { display:block; margin-top:15px; width:35px; height:35px; line-height:35px; color:#fff; background-color:#737374; border-radius:25px; text-align:center; font-size:20px; }

/* footer 하단 < footer */
footer div.footer-below { overflow:hidden; margin-top:30px; }

/* footer 로고 < footer 하단 < footer */
footer div.footer-below div.footer-logo { float:left; width:161px; }

/* 회사정보 < footer 하단 < footer */
footer div.footer-below ul.info                { margin-left:20px; float:left; width:600px; }
footer div.footer-below ul.info li             { float:left; font-size:14px; font-weight:400;}
footer div.footer-below ul.info li:after       { content:'|'; margin:0 10px; font-size:10px; height:20px; line-height:20px; vertical-align:top; }
footer div.footer-below ul.info li.nobar:after { content:none; }
footer div.footer-below ul.info li.copyright   { width:100%; margin-top:16px; }

/* 인증마크 < footer 하단 < footer */
footer div.footer-below div.mark { float:right; width:300px; }



/*******************
    최상단으로 이동 버튼
********************/
div.go-top   { position:fixed; right:0; bottom:0; }
div.go-top a { width:70px; height:70px; line-height:70px; display:block; font-size:50px; color:#fff; background-color:#E05458; text-align:center; opacity:0.8; }


@media (max-width: 1350px) {
    main section div.list { width:calc(240px * 4); }
}

/*******************
    width 1200px 이하
*******************/
@media (max-width: 1200px)  {
    .container { width:auto; margin:0 20px; }
}

/*******************
    width 1024px 이하
*******************/
@media (max-width: 1024px)  {
    header nav.sitemap div.container { width:100%; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1 span a { font-size:24px; }

    main section div.list { width:calc(240px * 3); }
}

/******************
    width 800px 이하
******************/
@media (max-width: 800px)  {
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1 span a { font-size:16px; }

    main section.sns    { height:500px; }
    main section.sns dl { height:300px; }

    header div.header-wrap nav.gnb ul.gnb-depth1 li a { font-size:16px; }

    main section div.list { width:calc(240px * 2); }

    footer div.footer-above ul.links { width:100%; text-align:center; }
    footer div.footer-above ul.links li { float:none; display:inline-block; }
    footer div.footer-above ul.social { width:100%; text-align:center; }
    footer div.footer-above ul.social li { float:none; display:inline-block; }
}

/******************
    width 640px 이하
******************/
@media (max-width: 640px)  {
    header div.header-wrap { height:98px; }

    header div.header-wrap span.sitemap-open       { display:block; float:left; margin-top:35px; margin-left:20px; }
    header div.header-wrap span.sitemap-open a     { display:block; width:20px; height:20px; line-height:20px; text-align:center; }
    header div.header-wrap span.sitemap-open a img { display:block; width:100%; height:100%; }

    header div.header-wrap h1.logo       { width:63px; height:62px; margin:16px auto 0 auto;  }
    header div.header-wrap h1.logo a     { display:block; width:100%; height:100%; }
    header div.header-wrap h1.logo a img { display:block; width:100%; height:100%; }

    header nav.sitemap                                                             { height:0; top:94px; }
    header nav.sitemap div.container                                               { margin:0; }
    header nav.sitemap div.sitemap-close                                           { display:none; }
    header nav.sitemap div.sitemap-wrap                                            { display:block; padding:0; color:#fff; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1                         { float:none; width:100%; padding:0; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    span                 { background:none; position:relative; display:block; padding-top:0; width:100%; border-bottom:1px solid #e76c71; background-color:#dc2c34; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    span a               { display:block; height:60px; line-height:60px; padding:0 20px; box-sizing:border-box; font-size:20px; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    span a:after         { content:'+'; position:absolute; top:50%; right:20px; transform:translateY(-50%); font-size:48px; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    dl.sitemap-depth2    { transition:height 0.3s; height:0; overflow:hidden; background-color:#9a1f24; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1.on dl.sitemap-depth2    { padding:20px; height:auto; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    dl.sitemap-depth2 dt { background:none; }
    header nav.sitemap div.sitemap-wrap div.sitemap-depth1    dl.sitemap-depth2 dd { padding:5px 14px; }

    header div.header-wrap nav.gnb { display:none; }

    main section.banner ul.slide li img          { display:none; }
    main section.banner ul.slide li img.visual-m { display:block; }

    main section.site-link                   { margin-top:30px; }
    main section.site-link li                { width:49%; }
    main section.site-link li:nth-child(odd) { margin:0; }
    main section.site-link li:nth-child(n+3) { margin-top:1.333%; }

    main section.news h2         { float:none; width:100%; font-size:30px; margin-bottom:20px; }
    main section.news dl         { float:none; width:100%; margin-left:0; }
    main section.news dl dt      { height:auto; margin-bottom:5px; }
    main section.news dl dt a    { font-size:18px; }
    main section.news dl dd      { margin-bottom:0px; margin-bottom:5px; }
    main section.news dl dd a    { display:block; font-size:14px; color:#666; min-height:inherit; }
    main section.news dl dd.date { margin-bottom:20px; }

    main div.event-new section.event { float:none; width:100%; margin-bottom:50px; }
    main div.event-new section.new { width:100%; }

    main section.sns                        { height:1000px; }
    main section.sns dl                     { height:800px; }
    main section.sns dl:before              { height:120px; }
    main section.sns dl dt                  { width:50%; }
    main section.sns dl dt.on a:after       { content:none; }
    main section.sns dl dd a                { width:49%; }
    main section.sns dl dd a:nth-child(odd) { margin:0; }

    main section div.list { width:calc(240px * 1); }

    /* footer div.footer-above ul.links { width:100%; text-align:center; }
    footer div.footer-above ul.links li { float:none; display:inline-block; } */

    footer div.footer-above               { background:none; border:none; }
    footer div.footer-above ul.links      { width:100%; overflow:hidden; background-color:#f7f7f7; }
    footer div.footer-above ul.links li   { float:left; display:block; width:50%; height:45px; line-height:45px; text-align:center; border:1px solid #e4e4e4; box-sizing:border-box;}
    footer div.footer-above ul.links li a { height:auto; line-height:inherit; }
    footer div.footer-above ul.social     { width:100%; text-align:center; margin-top:10px; }
    footer div.footer-above ul.social li  { float:none; display:inline-block; }

    footer div.footer-below { margin:0; }
    footer div.footer-below div.footer-logo { width:100%; text-align:center; }
    footer div.footer-below ul.info                        { width:100%; text-align:center; margin-left:0; }
    footer div.footer-below ul.info li                     { float:none; font-size:14px; color:#666; line-height:24px; }
    footer div.footer-below ul.info li:nth-child(1),
    footer div.footer-below ul.info li:nth-child(2),
    footer div.footer-below ul.info li:nth-child(3)        { display:inline-block; }
    footer div.footer-below ul.info li:nth-child(1):after,
    footer div.footer-below ul.info li:nth-child(4):after,
    footer div.footer-below ul.info li:nth-child(5):after,
    footer div.footer-below ul.info li:nth-child(6):after  { content:none; }
    footer div.footer-below ul.info li.copyright { color:#333; }

    footer div.footer-below div.mark { width:100%; text-align:center; margin-top:10px; }

}
